@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700&display=swap');

* {
    scroll-behavior: smooth !important;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    font-size: 10px;
    /* --navcolor: rgb(0, 0, 0);
    --herocolor: rgb(0, 0, 0);
    --herobg: #f1d869;
    --aboutbg: #eeeeee;
    --aboutfeat: #000000;
    --aboutfeat1:rgb(39, 39, 39)0;
    --servicesbg: #69257a;
    --servicescolor: white; */

    --qck-trans: 0.2s ease;
    --nav-font: 1.6rem;
    --nav-home-font: 2.4rem;

    --text: #e0e3eb;
    --background: #14171f;
    --primary-button: #ff9924;
    --secondary-button: #dddada;
    --btn3: #212837;
    --accent: #55188c;
    --accent2:#a0e3cb;

    --gtcol:#ffffff;
    --wtcol:#25D366;
    --twcol:#1D9BF0;
    --lkcol:#0A66C2;
    --lktcol:#14171f;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

html {
    scroll-behavior: smooth !important;
}

html,
body {
    min-height: 100%;
    scroll-behavior: smooth;
}
section{
    height: 100vh;
    position: relative;
    padding: 10%;
}
.navbar {
    width: 80%;
    color: var(--text);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    z-index: 4;
    
}

.nav-home {
    font-size: 2rem;
    transition: var(--qck-trans);
    background-color: var(--background);
    padding: 0.75rem 1rem;
    border-radius: 6px;
    height: 100%;
}
.nav-items {
    display: flex;
    align-items: center;
    gap: 3rem;
    background-color: var(--background);
    border-radius: 6px;
    padding: 0.75rem 1rem;
    justify-content: space-between;
    font-size: var(--nav-font);
    transition: var(--qck-trans);
}

.nav-items a, .nav-home {
    color: var(--text);
    text-decoration: none;
    color: var(--text);
}
a.nav-accent{
    background-color: var(--accent);
    padding: 5px 15px;
    border-radius: 6px;
}


#home {
    width: 100%;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    background-image: url(./assets/hero-wavy.svg);
    background-size: cover;
    overflow: visible;
    z-index: 3;
}
.hero-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: left;
    color: var(--text);
    font-size: 1.5rem;
    z-index: 5;
}
.hero-img{
   width: 40%;
   z-index: 5;
}


.hero-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: left;
    color: var(--text);
    font-size: 1.5rem;
}

.hero-title h1 {
    font-size: clamp(2rem, 3vw, 4.8rem);
    font-weight: 500;
    max-width: 600px;
    line-height:clamp(3rem, 3vw, 5.0rem);
    letter-spacing: -1px;
    margin-bottom: 1rem;
}
.hero-title h1 span{
    background: linear-gradient(120deg, var(--primary-button), var(--accent));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-title h3 {
    font-size: clamp(1.5rem, 2vw, 2.4rem);
    font-weight: 300;
    margin-bottom: 1rem;
}

.hero-btns {
    display: flex;
    gap: 2rem 2rem;
    
}
.btn {
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    margin-top: 1rem;
    border: none;
    cursor: pointer;
    transition: var(--qck-trans);
    ;
}
.hov, .hovc{
    transition: transform ease 0.2s, box-shadow ease 0.2s, color ease .3s;
    color: white;
}
.hovc:hover {
    transform: translate(0, -3px);
    box-shadow: 0 20px 80px -10px var(--accent);
}
.hov:hover {
    transform: translate(0, -3px);
}
.dwn {
    background-color: var(--accent);
    color: var(--text);
}

.mor {
    background-color: var(--btn3);
    color: var(--text);
  
}



.hero-links{
    display: flex;
    justify-content: flex-start;
    padding: 1rem 0;
    margin-top: 2rem;
    gap: 1.5rem;
}

 svg{
    fill: #e0e3eb;
    max-width: 4rem;
    max-height: 4rem;
    aspect-ratio: 1/1;
    font-size: 2rem;
    position: relative;
    z-index: 99;
    cursor: pointer;
    transition: color 0.2s ease;
}
.git:hover{
    color: var(--gtcol);
    transition: var(--qck-trans);
    filter: drop-shadow(0 0 0.75rem #55188c);
}

.linkedin:hover{
    fill: var(--gtcol);
    color: #0a66c2;
    transition: var(--qck-trans);
    overflow: hidden;
    filter: drop-shadow(0 0 0.75rem #0A66C2);
}

.twitter:hover{
    color: var(--gtcol);
    transition: var(--qck-trans);
    filter: drop-shadow(0 0 0.75rem #1D9BF0);
}
.l-color{
    color: var(--lktcol);
    fill: var(--lktcol);
}

.whats:hover{
    filter: drop-shadow(0 0 0.75rem #25D366);
    fill: #ffffff;
    transition: var(--qck-trans);
}
.hero-links>.hsvg{
    fill: currentColor;
    color: rgb(53, 210, 100);
    max-width: 4rem;
    aspect-ratio: 1/1;
    font-size: 2rem;
    cursor: pointer;
}
.about {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-button);
}

.about-feat {
    align-items: center;
    display: flex;
    flex: 1;
    min-width: 200px;
    
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    opacity: 100%;
    background-color: var(--btn3);
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.384);
  
    height: 400px;
}
.about-img{
    width: 45%;
}
.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: var(--btn3);
    padding: 16px;
    border-radius: 0.6rem;
    color: var(--text);
    width: 50%;
}
.about-content h1{
    font-size: 4.8rem;
    line-height:clamp(3rem, 3vw, 5.0rem);
    letter-spacing: -1px;
}
.about-content p{
    font-size: 1.8rem;
    line-clamp: 2;
    line-height:clamp(1.9rem, 3vw, 2.0rem);
    letter-spacing: -0.5px;
}
.about-feat h1 {
    font-size: clamp(1.6rem, 2vw, 2.4rem);
    font-weight: 500;
    color: var(--text);
    margin-bottom: 1rem;
}

.about-feat h3 {
    font-size: clamp(1.1rem, 1.5vw, 1.8rem);
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--text);
    width: 90%;
    line-height: 1.4;
}

.about-imag img,
.services-img img {
    width: clamp(40px, 5vw, 200px);
}

.services {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text);
    background-image: url(./assets/sec4.svg);
}

.navbar>.logo:hover,
.nav-items>a:hover {
    color: white;
    transition: 0.2s ease-in-out;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50vh;
    margin-bottom: 20rem;
    width: 100%;
    background-color: var(--text);
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
.ca{
    
    background-color: rgb(255, 255, 255);
    transform: translateZ(200px);
}
